<app-header></app-header>
<!-- Page title-->
<section class="bg-darker bg-size-cover bg-position-center py-5 py-lg-5" style="background-image: url(assets/img/food-delivery/hero-bg.png);">
  <div class="container pb-1">
    <div class="container py-md-4">
      <nav aria-label="breadcrumb">
        <ol class="breadcrumb breadcrumb-light flex-lg-nowrap justify-content-center justify-content-lg-start">
          <li class="breadcrumb-item"><a class="text-nowrap" href="javascript:void(0);" routerLink="/"><i class="ci-home"></i>Home</a>
          </li>
          <li class="breadcrumb-item text-nowrap"><a href="javascript:void(0);">Cursos</a>
          </li>
          <li class="breadcrumb-item text-nowrap active" aria-current="page">Todos los Recursos</li>
        </ol>
      </nav>
    </div>
      <div class="row justify-content-center pb-1">
          <div class="col-xl-6 col-lg-7 col-md-8 col-sm-10 text-center">
              <div class="h2 text-light mb-3 pb-4">Plataforma E-learning para el Estudio &amp; Repaso de temas en ingenieria de software
                  <div class="dropdown d-inline-block ms-1"><a class="dropdown-toggle" href="javascript:void(0);" data-bs-toggle="dropdown">T-Educa</a>
                         </div>
              </div>
              <!--<a class="btn btn-primary" href="javascript:void(0)" [ngxScrollTo]="'#cuisine'" data-scroll>Recursos de Estudio</a>
                -->
              </div>
      </div>
  </div>
</section>

<!-- Page navigation-->
<nav class="container mt-n5">
  <div class="d-flex align-items-center bg-white rounded-3 shadow-lg py-2 ps-sm-2 pe-4 pe-lg-2">
    <img
      class="d-block rounded-3" src="assets/img/food-delivery/restaurants/logos/02.png" width="150" alt="Brand">
    <div class="ps-lg-3 w-100 text-end">
      <!-- For desktop-->
      <ul class="nav nav-tabs d-none d-lg-flex border-0 mb-0 filter-list">
        <li class="nav-item" (click)="selectcategory('Pizza',$event)"><a class="nav-link" href="javascript:void(0);">Pizza</a></li>
        <li class="nav-item" (click)="selectcategory('Sides',$event)"><a class="nav-link" href="javascript:void(0);">Sides</a></li>
        <li class="nav-item" (click)="selectcategory('Drinks',$event)"><a class="nav-link" href="javascript:void(0);">Drinks</a></li>
        <li class="nav-item" (click)="selectcategory('Dessert',$event)"><a class="nav-link" href="javascript:void(0);">Dessert</a></li>
      </ul>
      <!-- For mobile-->
      <div ngbDropdown class="btn-group dropdown d-lg-none ms-auto">
        <button class="btn btn-primary dropdown-toggle" type="button" data-bs-toggle="dropdown" ngbDropdownToggle
          aria-haspopup="true" aria-expanded="false"><i class="ci-menu fs-base me-2"></i>Menu</button>
        <div ngbDropdownMenu class="dropdown-menu dropdown-menu-end"><a class="dropdown-item fs-base active"
            href="javascript:void(0);">Pizza
          </a><a class="dropdown-item fs-base" href="javascript:void(0);">Sides </a><a class="dropdown-item fs-base"
            href="javascript:void(0);">Drinks </a><a class="dropdown-item fs-base" href="javascript:void(0);">Dessert
          </a></div>
      </div>
    </div>
  </div>
</nav>
<!-- Menu (Products grid)-->
<section class="container tab-content py-4 py-sm-4">
  <h2 class="text-center pt-2 pt-sm-0 mb-sm-5">Cursos</h2>
  <div class="row pt-3 pt-sm-0">
    <!-- Item-->
    @for(item of products;track $index){
    <div class="col-lg-3 col-md-4 col-sm-6 mb-grid-gutter">
      <div class="card product-card border pb-2">
        <a class="d-block" data-bs-target="#quick-view" data-bs-toggle="modal"
          (click)="openModal(content,$index)"><img class="card-img-top" src="{{item.img}}" alt="Pizza"></a>
        <div class="card-body pt-1 pb-2">
          <h3 class="product-title fs-md"><a href="#quick-view" data-bs-toggle="modal">{{item.title}}</a></h3>
          <p class="fs-ms text-muted">{{item.ingredients}}</p>
          <div class="d-flex mb-1">
            @for(s of item.size;track $index){
            <div class="form-check form-option form-check-justified mb-2">
              <input class="form-check-input" type="radio" name="size1" id="{{s}}{{$index}}">
              <label class="form-option-label" for="{{s}}{{$index}}">{{s}}</label>
            </div>
          }
          </div>
          <div class="d-flex mb-3">
            @for(t of item.base;track $index){
            <div class="form-check form-option form-check-justified mb-2">
              <input class="form-check-input" type="radio" name="base1" id="{{t}}{{$index}}" checked>
              <label class="form-option-label" for="{{t}}{{$index}}">{{t}}</label>
            </div>
          }
          </div>
          <div class="d-flex align-items-center justify-content-between">
            <div class="product-price"><span class="text-accent">{{item.price}}</span></div>
            <button class="btn btn-primary btn-sm" type="button" (click)="addtocart($index)">+<i
                class="ci-cart fs-base ms-1"></i></button>
          </div>
        </div>
      </div>
    </div>
  }
    <!-- Item-->
  </div>


  <!-- Load more button-->
  <nav class="d-md-flex justify-content-between align-items-center text-center text-md-start pt-2 pb-4 mb-md-2"
    aria-label="Page navigation">
    <div class="d-md-flex align-items-center w-100"><span class="fs-sm text-muted me-md-3">Showing 8 of 24 items </span>
      <ngb-progressbar type="dark" [value]="8" class="progress w-100 my-3 mx-auto mx-md-0" style="max-width: 10rem; height: 4px;"></ngb-progressbar>
    </div>
    <button class="btn btn-outline-secondary" type="button">Load more items</button>
  </nav>
</section>
<app-footer></app-footer>

<!-- Quick View Modal-->
<ng-template #content role="document" let-modal>
  <div class="modal-content">
    <div class="modal-header">
      <h4 class="modal-title">{{productdetail.title}}</h4>
      <button class="btn-close" type="button" data-bs-dismiss="modal" aria-label="Close"
        (click)="modal.dismiss('Cross click')"></button>
    </div>
    <div class="modal-body">
      <div class="row">
        <!-- Product gallery-->
        <div class="col-lg-7 col-md-6 pe-lg-0"><img src="{{productdetail.img}}" alt="Pizza"></div>
        <!-- Product details-->
        <div class="col-lg-5 col-md-6 pt-4 pt-lg-0">
          <div class="product-details ms-auto pb-3">
            <div class="mb-3"><span class="h3 fw-normal text-accent me-1">{{productdetail.price}}</span></div>
            <form class="mb-grid-gutter">
              <div class="row mx-n2">
                <div class="col-6 px-2">
                  <div class="mb-3">
                    <label class="form-label" for="pizza-size">Size:</label>
                    <select class="form-select" id="pizza-size">
                      @for(s of productdetail.size;track $index){
                      <option value="small">{{s}}</option>
                      }
                    </select>
                  </div>
                </div>
                <div class="col-6 px-2">
                  <div class="mb-3">
                    <label class="form-label" for="pizza-base">Base:</label>
                    <select class="form-select" id="pizza-base">
                      @for(b of productdetail.base;track $index){
                      <option value="standard">{{b}}</option>
                      }
                    </select>
                  </div>
                </div>
              </div>
              <div class="mb-3 d-flex align-items-center">
                <select class="form-select me-3" style="width: 5rem;">
                  <option value="1">1</option>
                  <option value="2">2</option>
                  <option value="3">3</option>
                  <option value="4">4</option>
                  <option value="5">5</option>
                </select>
                <button class="btn btn-primary btn-shadow d-block w-100" type="submit"
                  (click)="modal.dismiss('Cross click')" (click)="addcart(productdetail)"><i class="ci-cart fs-lg me-2"></i>Add to Cart</button>
              </div>
            </form>
            <h5 class="h6 mb-3 pb-3 border-bottom"><i
                class="ci-announcement text-muted fs-lg align-middle mt-n1 me-2"></i>Product info</h5>
            <h6 class="fs-sm mb-2">Ingredients:</h6>
            <p class="fs-sm">{{productdetail.ingredients}}</p>
            <h6 class="fs-sm mb-2">Allergies</h6>
            <p class="fs-sm">Gluten, Dairy</p>
            <h6 class="fs-sm mb-2">Calories</h6>
            <p class="fs-sm mb-0">811</p>
          </div>
        </div>
      </div>
    </div>
  </div>
</ng-template>
