<!-- Sign in / sign up modal-->
<!-- <ng-template role="document" let-modal> -->
<div class="modal-content">
  <div class="modal-header bg-light">
    <ul ngbNav #nav="ngbNav" [activeId]="1" class="nav nav-tabs card-header-tabs" role="tablist">
      <li class="nav-item" [ngbNavItem]="1">
        <a ngbNavLink class="nav-link fw-medium" href="javascript:void(0);" data-bs-toggle="tab" role="tab"
          aria-selected="true" style="text-align: center;">Editar Usuarios</a>
        <ng-template ngbNavContent>

          <form (ngSubmit)="actualzarUsuario()" [formGroup]="userForm" class="needs-validation tab-pane fade show"
            id="signin-tab">

            <div class="row gy-3 mb-4 pb-md-3 mb-2">
              <div class="col-sm-6">
                <label class="form-label" for="profile-name">
                  Rol
                </label>
                <select id="profile-rol" class="form-control" formControlName="rol">
                  <option *ngFor="let item of roles" [value]="item.idRol" >{{ item.descripcion }}</option>
                </select>
              </div>

              <div class="col-sm-6">
                <label class="form-label" for="profile-name">
                  Nombre
                </label>
                <input class="form-control" formControlName="name" id="profile-name" type="text" placeholder="Usuario">
              </div>

              <div class="col-sm-6">
                <label class="form-label" for="profile-lastname">
                  Apellido
                </label>
                <input class="form-control" id="profile-lastname" formControlName="lastname" type="text" placeholder="">
              </div>

              <div class="col-sm-6">
                <label class="form-label" for="profile-cellular">
                  Celular
                </label>
                <input class="form-control" id="profile-cellular" formControlName="cellular" type="text"
                  placeholder="374702749">
              </div>

              <div class="col-sm-6">
                <label class="form-label" for="profile-email">
                  Email
                </label>
                <input class="form-control" id="profile-email" formControlName="email" type="email"
                  placeholder="example@gmail.com">
              </div>

              <div class="col-sm-6">
                <label class="form-label" for="profile-password">
                  Contraseña
                </label>
                <input class="form-control" id="profile-password" formControlName="password" type="password">
              </div>
            </div>

            <button class="btn btn-primary btn-shadow d-block w-100" type="submit">Editar</button>
          </form>
        </ng-template>
      </li>
    </ul>
    <button class="btn-close" type="button" data-bs-dismiss="modal" aria-label="Close" (click)="closemodal()"></button>
  </div>
  <div class="modal-body tab-content py-4">
    <div [ngbNavOutlet]="nav"></div>
  </div>
</div>
<!-- </ng-template> -->
