<!-- Header -->
<app-header></app-header>
<!-- Page Title -->
<div class="page-title-overlap bg-accent pt-4">
    <app-account-breadcrumbs></app-account-breadcrumbs>
</div>
<div class="container mb-5 pb-3">
    <div class="bg-light shadow-lg rounded-3 overflow-hidden">
        <div class="row">
            <!-- Sidebar -->
            <aside class="col-lg-3 pe-xl-5">
                <app-acount-sidemenu></app-acount-sidemenu>
            </aside>
            <!-- Content -->
            <section class="col-lg-9 pt-lg-4 pb-4 mb-3">
                <div class="pt-2 px-4 ps-lg-0 pe-xl-5">
                    <div class="d-flex flex-sm-row flex-column align-items-sm-center justify-content-between mb-4">
                        <h1 class="h3 mb-sm-0 mb-2 pb-1 text-sm-start text-center">My Items</h1>
                        <div class="pb-1" style="overflow-x: auto;">
                            <ul ngbNav #nav="ngbNav" class="nav nav-tabs nav-fill flex-nowrap text-nowrap mb-0">
                                <li class="nav-item" ngbNavItem="All">
                                    <a ngbNavLink class="nav-link">
                                        All
                                        <span class='opacity-70'>({{myitems.length}})</span>
                                    </a>
                                    <ng-template ngbNavContent>
                                        <!-- Items grid -->
                                        <div class="row row-cols-md-3 row-cols-sm-2 row-cols-1 gy-sm-4 gy-3 gx-3 mb-4">
                                            <!-- Product -->
                                            @for(item of myitems;track $index){
                                            <div class="col mb-2">
                                                <article class="card h-100 border-0 shadow">
                                                    <div class="card-img-top position-relative overflow-hidden">
                                                        <a class="d-block" routerLink="/auctionlive">
                                                            <img src="{{item.image}}" alt="Product image">
                                                        </a>
                                                        <!-- Countdown timer -->
                                                        @if(item.time){
                                                        <div class="badge bg-dark m-3 fs-sm position-absolute top-0 start-0 zindex-5">
                                                            <i class="ci-time me-1"></i>
                                                            <div class="countdown d-inline">
                                                                <span>{{countdown(item.time)}}</span>
                                                            </div>
                                                        </div>
                                                        }
                                                        <!-- Edit button -->
                                                        <button
                                                            class="btn-wishlist btn-sm position-absolute top-0 end-0"
                                                            type="button" data-bs-toggle="tooltip"
                                                            data-bs-placement="left" ngbTooltip="Edit"
                                                            style="margin: 12px;">
                                                            <i class="ci-edit"></i>
                                                        </button>
                                                    </div>
                                                    <div class="card-body">
                                                        <h3 class="product-title mb-2 fs-base">
                                                            <a class="d-block text-truncate" routerLink="/auctionlive">
                                                                {{item.title}}
                                                            </a>
                                                        </h3>
                                                        <span class="fs-sm text-muted">Current bid:</span>
                                                        <div class="d-flex align-items-center flex-wrap">
                                                            <h4 class="mt-1 mb-0 fs-base text-darker">
                                                                {{item.currentbid}}</h4>
                                                            <span class="mt-1 ms-1 fs-xs text-muted">{{item.bid}}</span>
                                                        </div>
                                                    </div>
                                                    <div class="card-footer mt-n1 py-0 border-0">
                                                        <div
                                                            class="d-flex align-items-center position-relative mb-1 py-3 border-top">
                                                            <img class="me-2 rounded-circle" src="{{item.profile}}"
                                                                width="32" alt="Avatar">
                                                            <a class="nav-link-style fs-sm stretched-link"
                                                                routerLink="/vendor">
                                                                &#64;{{item.name}}
                                                            </a>
                                                        </div>
                                                    </div>
                                                </article>
                                            </div>
                                        }
                                        </div>
                                    </ng-template>
                                </li>
                                <li class="nav-item" ngbNavItem="sold">
                                    <a ngbNavLink class="nav-link">
                                        Sold
                                        <span class='opacity-70'>({{solditem.length}})</span>
                                    </a>
                                    <ng-template ngbNavContent>
                                        <!-- Items grid -->
                                        <div class="row row-cols-md-3 row-cols-sm-2 row-cols-1 gy-sm-4 gy-3 gx-3 mb-4">
                                            <!-- Product -->
                                            @for(item of solditem;track $index){
                                            <div class="col mb-2">
                                                <article class="card h-100 border-0 shadow">
                                                    <div class="card-img-top position-relative overflow-hidden">
                                                        <a class="d-block" routerLink="/auctionlive">
                                                            <img src="{{item.image}}" alt="Product image">
                                                        </a>
                                                        <!-- Countdown timer -->
                                                        @if(item.time){
                                                        <div class="badge bg-dark m-3 fs-sm position-absolute top-0 start-0 zindex-5">
                                                            <i class="ci-time me-1"></i>
                                                            <div class="countdown d-inline">
                                                                <span>{{countdown(item.time)}}</span>
                                                            </div>
                                                        </div>
                                                        }
                                                        <!-- Edit button -->
                                                        <button
                                                            class="btn-wishlist btn-sm position-absolute top-0 end-0"
                                                            type="button" data-bs-toggle="tooltip"
                                                            data-bs-placement="left" ngbTooltip="Edit"
                                                            style="margin: 12px;">
                                                            <i class="ci-edit"></i>
                                                        </button>
                                                    </div>
                                                    <div class="card-body">
                                                        <h3 class="product-title mb-2 fs-base">
                                                            <a class="d-block text-truncate" routerLink="/auctionlive">
                                                                {{item.title}}
                                                            </a>
                                                        </h3>
                                                        <span class="fs-sm text-muted">Current bid:</span>
                                                        <div class="d-flex align-items-center flex-wrap">
                                                            <h4 class="mt-1 mb-0 fs-base text-darker">
                                                                {{item.currentbid}}</h4>
                                                            <span class="mt-1 ms-1 fs-xs text-muted">{{item.bid}}</span>
                                                        </div>
                                                    </div>
                                                    <div class="card-footer mt-n1 py-0 border-0">
                                                        <div
                                                            class="d-flex align-items-center position-relative mb-1 py-3 border-top">
                                                            <img class="me-2 rounded-circle" src="{{item.profile}}"
                                                                width="32" alt="Avatar">
                                                            <a class="nav-link-style fs-sm stretched-link"
                                                                routerLink="/vendor">
                                                                &#64;{{item.name}}
                                                            </a>
                                                        </div>
                                                    </div>
                                                </article>
                                            </div>
                                        }
                                        </div>
                                    </ng-template>
                                </li>
                                <li class="nav-item" ngbNavItem="live">
                                    <a ngbNavLink class="nav-link">
                                        Live auctions
                                        <span class='opacity-70'>({{liveitem.length}})</span>
                                    </a>
                                    <ng-template ngbNavContent>
                                        <!-- Items grid -->
                                        <div class="row row-cols-md-3 row-cols-sm-2 row-cols-1 gy-sm-4 gy-3 gx-3 mb-4">
                                            <!-- Product -->
                                            @for(item of liveitem;track $index){
                                            <div class="col mb-2">
                                                <article class="card h-100 border-0 shadow">
                                                    <div class="card-img-top position-relative overflow-hidden">
                                                        <a class="d-block" routerLink="/auctionlive">
                                                            <img src="{{item.image}}" alt="Product image">
                                                        </a>
                                                        <!-- Countdown timer -->
                                                        @if(item.time){
                                                        <div class="badge bg-dark m-3 fs-sm position-absolute top-0 start-0 zindex-5">
                                                            <i class="ci-time me-1"></i>
                                                            <div class="countdown d-inline">
                                                                <span>{{countdown(item.time)}}</span>
                                                            </div>
                                                        </div>
                                                        }
                                                        <!-- Edit button -->
                                                        <button
                                                            class="btn-wishlist btn-sm position-absolute top-0 end-0"
                                                            type="button" data-bs-toggle="tooltip"
                                                            data-bs-placement="left" ngbTooltip="Edit"
                                                            style="margin: 12px;">
                                                            <i class="ci-edit"></i>
                                                        </button>
                                                    </div>
                                                    <div class="card-body">
                                                        <h3 class="product-title mb-2 fs-base">
                                                            <a class="d-block text-truncate" routerLink="/auctionlive">
                                                                {{item.title}}
                                                            </a>
                                                        </h3>
                                                        <span class="fs-sm text-muted">Current bid:</span>
                                                        <div class="d-flex align-items-center flex-wrap">
                                                            <h4 class="mt-1 mb-0 fs-base text-darker">
                                                                {{item.currentbid}}</h4>
                                                            <span class="mt-1 ms-1 fs-xs text-muted">{{item.bid}}</span>
                                                        </div>
                                                    </div>
                                                    <div class="card-footer mt-n1 py-0 border-0">
                                                        <div
                                                            class="d-flex align-items-center position-relative mb-1 py-3 border-top">
                                                            <img class="me-2 rounded-circle" src="{{item.profile}}"
                                                                width="32" alt="Avatar">
                                                            <a class="nav-link-style fs-sm stretched-link"
                                                                routerLink="/vendor">
                                                                &#64;{{item.name}}
                                                            </a>
                                                        </div>
                                                    </div>
                                                </article>
                                            </div>
                                        }
                                        </div>
                                    </ng-template>
                                </li>
                            </ul>
                        </div>
                    </div>
                    <div>
                        <div [ngbNavOutlet]="nav"></div>
                    </div>
                    <!-- Create new item -->
                    <div class="d-flex flex-sm-row flex-column">
                        <a class="btn btn-accent" routerLink="/createnewitem">
                            Create
                            new item
                        </a>
                    </div>
                </div>
            </section>
        </div>
    </div>
</div>
<!-- Footer -->
<app-footer></app-footer>
