<!-- Sign in / sign up modal-->
<!-- <ng-template role="document" let-modal> -->
    <div class="modal-content">
        <div class="modal-header bg-light">
          <ul ngbNav #nav="ngbNav" [activeId]="1" class="nav nav-tabs card-header-tabs" role="tablist">
            <li class="nav-item" [ngbNavItem]="1">
              <a ngbNavLink class="nav-link fw-medium" href="javascript:void(0);" data-bs-toggle="tab" role="tab"
                aria-selected="true" style="text-align: center;">Asociar a ruta de aprendizaje</a>
              <ng-template ngbNavContent>
      
                <form (ngSubmit)="asociarRecurso()" [formGroup]="calificacionForm" class="needs-validation tab-pane fade show" id="signin-tab">
      
                  <div class="row gy-3 mb-4 pb-md-3 mb-2">
                    <div class="col-sm-12">
                      <label class="form-label" for="profile-rutaAprendizaje">
                        Seleccione una ruta de aprendizaje
                      </label>
                      <select id="profile-rutaAprendizaje" class="form-control" formControlName="rutaAprendizaje">
                        <option *ngFor="let item of listCalificacion" [value]="item.idRoute" >{{ item.nombreRuta }}</option>
                      </select>
                    </div>
                  </div>

                  <button class="btn btn-primary btn-shadow d-block w-100" type="submit">Asociar</button>
                </form>
              </ng-template>
            </li>
          </ul>
          <button class="btn-close" type="button" data-bs-dismiss="modal" aria-label="Close" (click)="closemodal()"></button>
        </div>
        <div class="modal-body tab-content py-4">
          <div [ngbNavOutlet]="nav"></div>
        </div>
      </div>
      <!-- </ng-template> -->
      