<div (window:scroll)="windowScroll()" id="home">
  <header class="navbar d-block navbar-sticky navbar-expand-lg navbar-light bg-light">
    <div class="container">

      <a class="navbar-brand d-none d-sm-block me-4 order-lg-1" routerLink="/"><img src="assets/img/logo-dark.png" width="150" alt="Cartzilla"></a><a class="navbar-brand d-sm-none me-2 order-lg-1"><img src="assets/img/logo-icon.png" width="74" alt="Cartzilla"></a>

      <div class="navbar-toolbar d-flex align-items-center order-lg-3">
          <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarCollapse"><span class="navbar-toggler-icon" (click)="collapse.toggle()"></span></button>
            <!-- <a class="navbar-tool d-none d-lg-flex" href="javascript:void(0)" data-bs-toggle="collapse" data-bs-target="#searchBox" role="button" aria-expanded="false" aria-controls="searchBox"><span class="navbar-tool-tooltip">Buscar</span>
            <div class="navbar-tool-icon-box" (click)="collapse.toggle()"><i class="navbar-tool-icon ci-search"></i></div>
             </a> -->
             @if(token === null) {
              <a class="navbar-tool ms-2" href="javascript:void(0);" data-bs-toggle="modal" data-bs-target="#showModal" (click)="openModal()"><span class="navbar-tool-tooltip">Cuenta</span>
                <div class="navbar-tool-icon-box"><i class="navbar-tool-icon ci-user"></i></div>
              </a>
             } @else {
              <label for="">{{ userName }}</label>
              <button type="button" style="padding: 10px" (click)="cerrarSession()" class="btn btn-outline-danger"><i class="fa-solid fa-power-off"></i></button>
             }
            
      </div>

      <div #collapse="ngbCollapse" [(ngbCollapse)]="isCollapsed" class="collapse navbar-collapse me-4 order-lg-2 flex-row-reverse" id="navbarCollapse">

        <!-- Search (mobile)-->
        <div class="d-lg-none py-3">
          <div class="input-group"><i class="ci-search position-absolute top-50 start-0 translate-middle-y ms-3"></i>
            <input class="form-control rounded-start" type="text" [(ngModel)]="term" placeholder="What do you need?">
          </div>
        </div>

        <!-- Location dropdown aplico un | -->
        @if(token !== null){
          <ul class="navbar-nav" id="navbar-nav">
            @for(item of menuItems;track $index){
                @if(item.isTitle){
                    <li class="nav-item">
                        <a class="nav-link sublink" routerLink="/" routerLinkActive (click)="updateActive($event)">
                            {{item.label}}
                        </a>
                    </li>
                } @else{
                    <li ngbDropdown class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle sublink" data-bs-toggle="dropdown" ngbDropdownToggle>
                            {{item.label}}
                        </a>
                        <ul ngbDropdownMenu class="dropdown-menu">
                            @for(subitem of item.subItems;track $index){
                            <li>
                                <a class="dropdown-item sublink" [routerLink]="subitem.link" (click)="updateActive($event)">
                                    {{subitem.label}}
                                </a>
                            </li>
                            }
                        </ul>
                    </li>
                  }
             }
          </ul>
        }
        <!-- opciones Menu principal-->
        <!-- <ul class="navbar-nav" id="navbar-nav">
          <li  ngbDropdown class="nav-item dropdown"><a class="nav-link dropdown-toggle" href="javascript:void(0);" data-bs-toggle="dropdown" ngbDropdownToggle>{{ "MENUITEMS.CUISINE.TEXT" | translate }}</a>
            <div class="dropdown-menu px-2 ps-0 pb-4" ngbDropdownMenu>
              <div class="d-flex">
                <div class="mega-dropdown-column pt-4 px-3" style="width: 12rem;">
                  <div class="widget mb-3"><a class="d-block" href="javascript:void(0);" routerLink="/category"><img class="d-block mx-auto mb-3" src="assets/img/food-delivery/icons/steak.svg" width="60" alt="Grill &amp; Steaks">
                      <h6 class="fs-base text-center">{{ "MENUITEMS.CUISINE.LIST.course1" | translate }}</h6>
                    </a></div>
                </div>
                <div class="mega-dropdown-column pt-4 px-3" style="width: 12rem;">
                  <div class="widget mb-3"><a class="d-block" href="javascript:void(0);"><img class="d-block mx-auto mb-3" src="assets/img/food-delivery/icons/fish.svg" width="60" alt="Fish &amp; Seafood">
                      <h6 class="fs-base text-center">{{ "MENUITEMS.CUISINE.LIST.course2" | translate }}</h6>
                    </a></div>
                </div>
              </div>
            </div>
          </li>
          <li class="nav-item"><a class="nav-link" href="javascript:void(0);" routerLink="/">{{ "MENUITEMS.Aprender" | translate }}</a></li>
        </ul> -->

      </div>
    </div>
    <!-- Search collapse-->
    <!-- <div #collapse="ngbCollapse" [(ngbCollapse)]="isCollapsed" class="search-box collapse" id="searchBox">
      <div class="container py-2">
        <div class="input-group"><i class="ci-search position-absolute top-50 start-0 translate-middle-y ms-3"></i>
          <input class="form-control rounded-start" type="text" placeholder="Que estas buscando?">
        </div>
      </div>
    </div> -->
  </header>
</div>

<div class="handheld-toolbar">
  <div class="d-table table-layout-fixed w-100">
    <a class="d-table-cell handheld-toolbar-item" href="javascript:void(0)" data-bs-toggle="modal" (click)="openModal()">
      <span class="handheld-toolbar-icon"><i class="ci-user"></i></span>
      <span class="handheld-toolbar-label">Cuenta</span>
    </a>
    <a class="d-table-cell handheld-toolbar-item" href="javascript:void(0)" data-bs-toggle="collapse" data-bs-target="#navbarCollapse" (click)="collapse.toggle()" onclick="window.scrollTo(0, 0)">
      <span class="handheld-toolbar-icon"><i class="ci-menu"></i></span>
      <span class="handheld-toolbar-label">Menu</span>
    </a>
  </div>
</div>
