<!-- Page Title -->
<div class="container d-flex flex-wrap flex-sm-nowrap justify-content-center justify-content-sm-between align-items-center mb-2 pt-2">
    <div class="d-flex align-items-center">
        <div class="img-thumbnail rounded-circle position-relative flex-shrink-0" style="width: 6.375rem;">
            <img class="rounded-circle" [src]="urlImage" alt="@foxnet_creator" id="user_profile">
        </div>
        <div class="ps-3">
            <h3 class="h5 mb-2 text-light">{{ userName }}</h3>
            <!-- <span class="d-block text-light fs-sm opacity-60">Se unió en Julio 2024</span> -->
            <!-- <h3 class="h5 mb-2 text-light">&#64;foxnet_creatorrrrrrrrr</h3> -->
        </div>
    </div>
    <div class="my-sm-0 my-3 text-sm-end pt-1">
        <div class="d-flex align-items-center text-nowrap fs-sm">

    </div>
</div>
